* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  height: 100vh;
  text-align: center;
}

.game {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-column: 1 / -1;
}

.ships {
  grid-column: 1 / 2;
  align-self: center;
}

.ship {
  border: 1px solid black;
  height: 50px;

  &--5 {
    width: 250px;
  }
  &--4 {
    width: 200px;
  }
  &--3 {
    width: 150px;
  }
  &--3 {
    width: 150px;
  }
  &--2 {
    width: 100px;
  }
}

.gameboards {
  display: flex;
  gap: 3rem;
  align-self: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);
}

.gameboard-header {
  display: grid;
  place-items: center;

  &--row {
    grid-template-rows: repeat(10, 50px);
    grid-row: 2 / -1;
  }

  &--column {
    grid-template-columns: repeat(10, 50px);
    grid-column: 2 / -1;
  }
}

.cells {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.cell {
  border: 1px solid black;

  &--placed {
    background-color: #ccc;
  }

  &:hover {
    background-color: #ddd;
  }
}

.footer {
  grid-column: 1 / -1;
}
