@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;

  background: linear-gradient(170deg, rgb(25, 123, 228) 2%, rgba(49,49,218,1) 34%, rgba(0,212,255,1) 100%); 

  text-align: center;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.game {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  &__title {
    font-size: 2.5rem;
    padding: 1rem 0;
  }
}


.ships {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 1rem;
  padding: 1rem 0;
  border: 2px dashed #fff;

  &--expand {
    height: 300px;
  }

}

.ship {
  display: flex;
  align-items: center;

  &__piece {
    width: 50px;
    height: 50px;
    background-color: rgba($color: #fff, $alpha: .2);
    border: 1px solid black;
  }

  &--crusier {
    background: url('/src/img/ship-0.png') no-repeat center center;
  }
  &--battleship {
    background: url('/src/img/ship-1.png') no-repeat center center;;
  }
  &--destroyer {
    background: url('/src/img/ship-2.png') no-repeat center center;;
  }
  &--submarine {
    background: url('/src/img/ship-3.png') no-repeat center center;;
  }
  &--patrol {
    background: url('/src/img/ship-4.png') no-repeat center center;;
  }

  &--rotate {
    transform: rotate(90deg);
  }
}


.options {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.btn {
  color: white;
  background: royalblue;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1.1rem;

  &:hover {
    cursor: pointer;
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}

.gameboards {
  display: flex;
  gap: 3rem;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(11, 50px);
  grid-template-rows: repeat(11, 50px);

  position: relative;

  &--cover {
    width: 500px;
    height: 500px;
    background-color: rgba($color: #252525, $alpha: 0.8);

    position: absolute;
    top: 50px;
    left: 50px;

    &.hide {
      display: none;
    }
  }
}

.gameboard-header {
  display: grid;
  place-items: center;

  &--row {
    grid-template-rows: repeat(10, 50px);
    grid-row: 2 / -1;
  }

  &--column {
    grid-template-columns: repeat(10, 50px);
    grid-column: 2 / -1;
  }
}

.cells {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.cell {
  border: 1px solid #fff;

  &:hover {
    background-color: #ddd;
  }

  &--placed {
    background-color: #ccc;
  }

  &--hit {
    background-color: rgb(255, 64, 64);
  }

  &--miss {
    background-color: rgb(225, 255, 58);
  }
}

.footer {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
}
